body{
	background-image: url("fifa.jpg");
}
td.main{
	padding: 0px 50px 0px 80px;
	font-size: 300%;
	font-family: Segoe UI Black;
	color: #EDFD54;
}
td.sub{
	padding: 0px 5px 8px 90px;
	font-size:130%;
	font-family: Candara;
	color: white;
}
div.header{
	background-color:#AB3F42;
}